*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.11rem;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
}

.movie {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 1.5rem;
  height: 50vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}

.bg-filter {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie h2,
.movie p {
  color: #fff;
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.stars span {
  color: #fff;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}