*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

:root {
  --white-base: rgb(255, 253, 237);
  --white-light: rgba(255, 253, 237, 0.7);
  --black-base: rgb(7, 2, 13);
  --black-light: rgba(7, 2, 13, 0.4);
  --black-lighter: rgba(7, 2, 13, 0.1);

  --base: var(--black-base);
  --text-base: var(--white-base);
  --primary: rgb(79, 71, 137);
  --secondary: rgb(252, 231, 98);
}

::selection {
  display: none;
}

body {
  font-family: 'Heebo', sans-serif;
  transition: all 0.5s ease-in-out;
  background: var(--base);
  color: var(--text-base);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.11rem;
}

span {
  display: inline-block;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
}

.movie {
  background: var(--white-base);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1.5rem;
  height: 50vh;
  background-size: cover;
  background-position: center;
  color: var(--white-base);
  position: relative;
  border: 2px solid var(--primary);
}

.movie:hover {
  border: 2px solid var(--secondary);
}

.bg-filter {
  background: var(--black-light);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-filter:hover {
  background: var(--black-lighter);
}

.movie h2,
.movie p {
  color: var(--white-base);
}

.edit-delete {
  position: absolute;
  top: calc(50% - 3rem);
  right: -2px;
  border: 2px solid var(--primary);
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}

.movie:hover .edit-delete {
  border: 2px solid var(--secondary);
}

.edit-delete > div {
  background: var(--black-lighter);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-delete > div:hover {
  background: var(--black-light);
}

.edit-delete img {
  cursor: pointer;
}

#delete {
  border-top: 2px solid var(--primary);
}

.movie:hover #delete {
  border-top: 2px solid var(--secondary);
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category {
  font-size: 0.8rem;
  padding: 0.2rem 1.2rem;
  border: 2px solid var(--white-light);
  border-radius: 2rem;
  text-transform: uppercase;
  background-color: var(--black-lighter);
  cursor: pointer;
}

.category:hover {
  background-color: var(--black-light);
}

.director {
  font-size: 0.8rem;
}

.time-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  text-transform: uppercase;
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.stars span {
  color: var(--white-base);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}